<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">

    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
        <div class="form-row">
          <div class="form-group col col-6">
            <label>First Name <span class="asterick">*</span></label>
            <input 
             type="text" 
             class="form-control" 
             formControlName="firstName" 
             value="{{customerData2?.firstName}}"
             />
            <div *ngIf="(submitted) && h.firstName.errors" class="text-warning">
              <div *ngIf="h.firstName.errors.required">
                First Name is required
              </div>
              <div *ngIf="h.firstName.errors.maxlength">
                First Name less than 255 characters
              </div>
            </div>
          </div>
   
          <div class="form-group  col col-6">
            <label>Middle Name</label>
            <input formControlName="middleName" type="text" class="form-control" 
             />
            <div *ngIf="h.middleName.errors" class="text-warning">
              <div *ngIf="h.middleName.errors.maxlength">
                Middle Name must be less than 255 characters
              </div>
            </div>
          </div>
      
          <div class="form-group  col col-6">
            <label>Last Name <span class="asterick">*</span></label>
            <input formControlName="lastName" type="text" class="form-control" value="{{customerData2?.lastName}}"
           />
            <div *ngIf="(submitted) && h.lastName.errors" class="text-warning">
              <div *ngIf="h.lastName.errors.required">
                Last Name is required
              </div>
              <div *ngIf="h.lastName.errors.maxlength">
                Last Name less than 255 characters
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>dateOfBirth(MM/DD/YYYY) <span class="asterick">*</span></label>
          <input  formControlName="dateOfBirth" type="date" class="form-control"
          value={{customerData2?.dateOfBirth}}  
          />
          
          <div *ngIf="submitted && h.dateOfBirth.errors" class="text-warning">
            <div *ngIf="h.dateOfBirth.errors.required">dateOfBirth is required</div>
            <div *ngIf="h.dateOfBirth.errors.pattern">
              dateOfBirth must be in spacified format
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="status">Marital Status <span class="asterick">*</span></label>
           <select formControlName="maritalStatus" class="form-control">
            <option value="Divorced">Divorced</option>
            <option value="Married">Married</option> 
            <option value="Seperated">Seperated</option>
            <option value="Single">Single</option>
            <option value="Widowed">Widow</option>
          </select>
          <div *ngIf="h.maritalStatus.touched && h.maritalStatus.errors" class="text-warning">
            <div *ngIf="h.maritalStatus.errors.required">Marital Status is required</div>
          </div>
        </div>

        <div class="form-group">
          <label>SSN Number <span class="asterick">*</span></label>
          <input  formControlName="ssnNumber" type="number" class="form-control"
          value="{{customerData2?.ssnNumber}}" 
           />
          <div *ngIf="submitted && h.ssnNumber.errors" class="text-warning">
            <div *ngIf="h.ssnNumber.errors.required">SSN Number is required</div>
          </div>
        </div>
        
        <div class="form-group">
          <label>Loan Amount($123.00) <span class="asterick">*</span></label>
          <input  formControlName="loanAmount" type="text" class="form-control"
          />
          <div *ngIf="(h.loanAmount.touched ||  submitted) && h.loanAmount.errors" class="text-warning">
            <div *ngIf="h.loanAmount.errors.required">Loan Amount is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="loanPurpose">Loan Purpose <span class="asterick">*</span></label>
          <select formControlName="loanPurpose" class="form-control">
           <option value="Car">Car</option>
           <option value="Credit Card">Credit Card</option> 
           <option value="Debt Consolidation">Debt Consolidation</option>
           <option value="Educational">Educational</option>
           <option value="House">House</option>
           <option value="House Improvement">House Improvement</option> 
           <option value="Major Purchase">Major Purchase</option>
           <option value="Medical">Medical</option>
           <option value="Moving">Moving</option>
           <option value="Other">Other</option>
           <option value="Renewable Energy">Renewable Energy</option>
           <option value="Small Business">Small Business</option>
           <option value="Vacation">Vacation</option>
           <option value="Wedding">Wedding</option>
         </select>
          <div *ngIf="(h.loanPurpose.touched || submitted ) && h.loanPurpose.errors" class="text-warning">
            <div *ngIf="h.loanPurpose.errors.required">Loan Purpose is required</div>
          </div>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea formControlName="description" type="text" class="form-control"></textarea>
        </div>

           
        <div class="form-group">
          <label>Address-1 <span class="asterick">*</span></label>
          <input formControlName="addressline1" type="text" class="form-control" value = "{{customerData2?.address.addressline1}}"/>
          <div *ngIf="(h.addressline1.touched || submitted) && h.addressline1.errors" class="text-warning">
            <div *ngIf="h.addressline1.errors.required">
              Address is required
            </div>
            <div *ngIf="h.addressline1.errors.maxlength">
              Must be less than 255 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Address-2</label>
          <input formControlName="addressline2" type="text" class="form-control" value = "{{customerData2?.address.addressline2}}"/>
          <div *ngIf="h.addressline2.errors" class="text-warning">
            <div *ngIf="h.addressline2.errors.maxlength">
              Must be less than 255 characters
            </div>
          </div>
        </div>
      
        <div class="form-group">
          <label>City <span class="asterick">*</span></label>
          <input formControlName="city" type="text" class="form-control" value = "{{customerData2?.address.city}}"/>
          <div *ngIf="( h.city.touched || submitted) && h.city.errors" class="text-warning" >
            <div *ngIf="h.city.errors.required">
              City is required
            </div>
            <div *ngIf="h.city.errors.maxlength">
              Must be less than 255 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>State <span class="asterick">*</span></label>
          <input formControlName="state" type="text" class="form-control" value = "{{customerData2?.address.state}}"/>
          <div *ngIf="( h.state.touched || submitted) && h.state.errors" class="text-warning">
            <div *ngIf="h.state.errors.required">
              State is required
            </div>
            <div *ngIf="h.state.errors.maxlength">
              Must be less than 255 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Postal Code <span class="asterick">*</span></label>
          <input formControlName="postalCode" type="text" class="form-control" value = "{{customerData2?.address.postalCode}}"/>
          <div *ngIf="(h.postalCode.touched || submitted) && h.postalCode.errors" class="text-warning">
            <div *ngIf="h.postalCode.errors.required">
              Postal Code is required
            </div>
            <div *ngIf="h.postalCode.errors.pattern">
              Must be of 6 digit
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Home Phone (0000000000)<span class="asterick">*</span></label>
          <input formControlName="homePhone" type="text" class="form-control" value = "{{customerData2?.homePhone}}"/>
          <div *ngIf="(h.homePhone.touched || submitted) && h.homePhone.errors" class="text-warning">
            <div *ngIf="h.homePhone.errors.required">
             home Phone is required
            </div>
            <div *ngIf="h.homePhone.errors.pattern">
              Must be  10 of  digits
            </div>
          </div>
        </div>



        <div class="form-group">
          <label>Office Phone(0000000000) <span class="asterick">*</span></label>
          <input formControlName="officePhone" type="text" class="form-control" value = "{{customerData2?.officePhone}}"/>
          <div *ngIf="(h.officePhone.touched || submitted) && h.officePhone.errors" class="text-warning">
            <div *ngIf="h.officePhone.errors.required">
             Office Phone is required
            </div>
            <div *ngIf="h.officePhone.errors.pattern">
              Must be  10 of  digits
            </div>
          </div>
        </div>



        <div class="form-group">
          <label>Mobile Number (0000000000) <span class="asterick">*</span></label>
          <input formControlName="mobile" type="text" class="form-control" value = "{{customerData2?.mobile}}"/>
          <div *ngIf="(h.mobile.touched || submitted) && h.mobile.errors" class="text-warning">
            <div *ngIf="h.mobile.errors.required">
              Mobile Number is required
            </div>
            <div *ngIf="h.mobile.errors.pattern">
              Must be  10 of  digits
            </div>
          </div>
        </div>


        <div class="form-group">
          <label> Email Address <span class="asterick">*</span></label>
          <input  formControlName="emailAddress" type="text" class="form-control" value = "{{customerData2?.emailAddress}}"
          [ngClass]="{'is-invalid' : h.emailAddress.touched || submitted && h.emailAddress.errors} " />
          
          <div *ngIf="(h.emailAddress.touched || submitted) && h.emailAddress.errors" class="text-warning">
            <div *ngIf="h.emailAddress.errors.required">emailAddress is required</div>
            <div *ngIf="h.emailAddress.errors.emailAddress">
              emailAddress must be a valid emailAddress address
            </div>
          </div>
        </div> 
 
        <div class="form-group col col-6">
          <label>Employer Name <span class="asterick">*</span></label>
          <input 
           type="text" 
           class="form-control" 
           formControlName="employerName"  value = "{{customerData2?.employerName}}"
           />
          <div *ngIf="(h.employerName.touched || submitted ) && h.employerName.errors" class="text-warning">
            <div *ngIf="h.employerName.errors.required">
              Employer Name is required
            </div>
            <div *ngIf="h.employerName.errors.maxlength">
              Employer Name less than 255 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Annual Salary <span class="asterick">*</span></label>
          <input  formControlName="annualSalary" type="text" class="form-control"
          />
          <div *ngIf="(h.annualSalary.touched || submitted) && h.annualSalary.errors" class="text-warning">
            <div *ngIf="h.annualSalary.errors.required">Annual Salary is required</div>
          </div>
        </div>

        <div class="form-group  col col-6">
          <label>Work Experience(Years) <span class="asterick">*</span> </label>
          <input formControlName="workExpYears" type="text" class="form-control"
           />
           <div *ngIf="(h.workExpYears.touched ||  submitted) && h.workExpYears.errors" class="text-warning">
            <div *ngIf="h.workExpYears.errors.required">Work Experience is required</div>
          </div>
        </div>

        <div class="form-group  col col-6">
          <label>Work Experience (Months) <span class="asterick">*</span> </label>
          <input formControlName="workExpMonths" type="text" class="form-control"
           />
           <div *ngIf="(h.workExpMonths.touched  || submitted) && h.workExpMonths.errors" class="text-warning">
            <div *ngIf="h.workExpMonths.errors.required">Work Experience is required</div>
          </div>
        </div>

        <div class="form-group">
          <label>Designation</label>
          <input formControlName="designation" type="text" class="form-control"/>
          <div *ngIf="h.designation.errors" class="text-warning">
            <div *ngIf="h.designation.errors.maxlength">
              Must be less than 255 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Employer Address-1 <span class="asterick">*</span></label>
          <input formControlName="addressline1" type="text" class="form-control" value = "{{customerData2?.employmentAddress.addressline1}}"/>
          <div *ngIf="(h.addressline1.touched || submitted) && h.addressline1.errors" class="text-warning">
            <div *ngIf="h.addressline1.errors.required">
              Address is required
            </div>
            <div *ngIf="h.addressline1.errors.maxlength">
              Must be less than 255 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label> Employer Address-2</label>
          <input formControlName="addressline2" type="text" class="form-control" value = "{{customerData2?.employmentAddress.addressline2}}"/>
          <div *ngIf="h.addressline2.errors" class="text-warning">
            <div *ngIf="h.addressline2.errors.maxlength">
              Must be less than 255 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Employer City <span class="asterick">*</span></label>
          <input formControlName="city" type="text" class="form-control" value = "{{customerData2?.employmentAddress.city}}"/>
          <div *ngIf="(h.city.touched || submitted) && h.city.errors" class="text-warning">
            <div *ngIf="h.city.errors.required">
              City is required
            </div>
            <div *ngIf="h.city.errors.maxlength">
              Must be less than 255 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Employer State <span class="asterick">*</span></label>
          <input formControlName="state" type="text" class="form-control" value = "{{customerData2?.employmentAddress.state}}"/>
          <div *ngIf="(h.state.touched || submitted) && h.state.errors" class="text-warning">
            <div *ngIf="h.state.errors.required">
              State is required
            </div>
            <div *ngIf="h.state.errors.maxlength">
              Must be less than 255 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Employer Postal Code <span class="asterick">*</span></label>
          <input formControlName="postalCode" type="text" class="form-control" value = "{{customerData2?.employmentAddress.postalCode}}"/>
          <div *ngIf="(h.postalCode.touched || submitted) && h.postalCode.errors" class="text-warning">
            <div *ngIf="h.postalCode.errors.required">
              Postal Code is required
            </div>
            <div *ngIf="h.postalCode.errors.pattern">
              Must be of 6 digit
            </div>
          </div>
        </div>



       
        <div class="text-center">
          <button class="btn btn-success btn-lg px-4 mr-3">Register</button>
          <button (click)="onReset()" class="btn btn-warning" type="reset">
            Reset
          </button>
          <!-- <p class="text white">Value: {{ registerForm.value}}</p>
          <p class="text white">Value: {{ registerForm.valid }}</p> -->
        </div>

      </form>
    </div>
  </div>
  <div class="text-center">
      <a routerLink="/home"><button class="btn btn-success btn-lg px-4 mr-3">Back</button></a>
    </div>
</div>

